<h2>Главы</h2>
<div class="chapters-container">
  <div class="chapters-line"></div>
  <ol class="chapters-list">
    <li>
      <h3>1.&nbsp;&nbsp;1-е сентября - знакомство</h3>
      <ul class="article-list">
        <li>Кто был на линейке?</li>
        <li>Первая встреча с группой</li>
        <li>Добавление в беседы</li>
      </ul>
    </li>
    <li>
      <h3>2. Выбор предметов в модеусе</h3>
      <ul class="article-list">
        <li>Как работает ИОТ?</li>
        <li>Знакомство с модеусом</li>
        <li>Составим оптимальное расписание</li>
        <li>Как найти информацию о предметах</li>
      </ul>
    </li>
    <li>
      <h3>3. Первая пара</h3>
      <ul class="article-list">
        <li>Как найти аудиторию?</li>
        <li>Знакомство с командами</li>
        <li>Как общаться с преподавателями?</li>
        <li>Успеть поесть на большаке</li>
      </ul>
    </li>
    <li>
      <h3>4. Процесс обучения</h3>
      <ul class="article-list">
        <li>Про онлайн курсы</li>
        <li>Тайм-менеджмент</li>
        <li>Как решать проблемы</li>
        <li>Самообучение</li>
        <li>БРС</li>
      </ul>
    </li>
    <li>
      <h3>5. Это страшное слово - “сессия”</h3>
      <ul class="article-list">
        <li>Про автоматы</li>
        <li>Как подготовиться</li>
        <li>Выбор дат экзаменов</li>
        <li>Как вести себя на экзамене</li>
      </ul>
    </li>
  </ol>
</div>
