<section class="hero">
  <div class="hero-content">
    <h1>
      Карты
    </h1>
    <p>
      Карта корпусов для поиска аудитории и лучшие места для перекуса
    </p>
  </div>
</section>
<div class="container">
  <div class="buildings-info">
    <div class="buildings-container">
      <img src="assets/img/urfu_parts.png" alt="buildings-map">
      <ol>
        <li><span>1.</span> ГУК - Главный учебный корпус</li>
        <li><span>1а.</span> М - Мехфак</li>
        <li><span>1б.</span> Э - Электрофак</li>
        <li><span>2.</span> И - ИнЭУ</li>
        <li><span>3а.</span> МТ - ИНМТ</li>
        <li><span>3б.</span> Х - ХТИ (Химтех)</li>
        <li><span>4.</span> С - ИСА (Стройка)</li>
        <li><span>5.</span> Ф - ФТИ (Физтех)</li>
        <li><span>6.</span> Р - ИРИТ-РТФ (Радик)</li>
        <li><span>7.</span> Военная кафедра</li>
        <li><span>8.</span> Т - Теплофак</li>
        <li><span>9.</span> Стадион и манеж</li>
        <li><span>10.</span> СП - пристройка к ИСА</li>
      </ol>
    </div>
    <p>
      На карте вы можете видеть соотношение первых букв в названии аудитории и корпусов, в которых находятся эти аудитории.
    </p>
    <p>
      *Серыми линиями показаны подземные переходы между корпусами.
    </p>
  </div>
</div>
