.hero {
  width: 100%;
  background: #171934;
  color: #FFFFFF;
  padding: 33px 0 63px 0;
}

.hero-content {
  max-width: 1152px;
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
}

.hero h1, .hero p {
  font-family: "Aqum two Small caps", serif;
}

h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 190.5%;
  text-decoration-line: underline;
  margin: 0;
}

.hero p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 190.5%;
}

.container {
  width: min(1056px, calc(100vw - 30px));
  margin: 63px auto 150px auto;
  padding: 0 15px 0 15px;
  font-family: "Golos Text", serif;
}

h2 {
  font-family: "Aqum two Small caps", serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 150%;
  margin: 0 0 30px 0;
}

.buildings-info {
  margin: 0 0 70px 0;
}

.buildings-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 20px 0;
}

.buildings-container img {
  width: 98%;
  max-width: 655px;
}

ol {
  padding: 0;
  margin: 0 0 0 71px;
}

ol li {
  font-size: 20px;
  font-weight: 500;
  line-height: 170%;
}

li span {
  font-weight: 700;
}

.buildings-info p {
  font-size: 18px;
  font-weight: 500;
}
