.hero {
  width: 100%;
  background: #171934;
  color: #FFFFFF;
  padding: 33px 0 11px 0;
}

.hero-content {
  max-width: 1152px;
  margin: 0 auto 0 auto;
  padding: 0 15px 0 15px;
}

.hero h1, .hero p {
  font-family: "Aqum two Small caps", serif;
}

h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 190.5%;
  text-decoration-line: underline;
  margin: 0;
}

.hero p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  line-height: 190.5%;
}

.progress-container {
  margin: 52px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.progress-bar {
  padding: 10px 0 0 0;
  margin: 0 0 0 86px;
  display: flex;
}

.progress-part {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: #B2CFFF 4px solid;
}

.progress-line {
  margin: 8px 0 0 0;
  width: 45px;
  height: 4px;
  background: #B2CFFF;
}

.progress-bar .progress-line:last-child {
  display: none;
}

.done {
  background: #B2CFFF;
}

.container {
  width: min(1056px, calc(100vw - 30px));
  margin: 63px auto 150px auto;
  padding: 0 15px 0 15px;
}

.continue-button {
  display: block;
  position: absolute;
  bottom: 130px;
  left: calc(50vw - 109px);
  margin: 300px auto 25px auto;
  width: 218px;
  height: 46px;
  padding: 0 0 4px 0;
  color: #FFFFFF;
  background: #171934;
  border-radius: 20px;
  border: 2.5px solid #171934;
  cursor: pointer;
  font-family: "Golos UI", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
