.container {
  width: 100%;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
}

/*лого*/

.logo-container {
  display: flex;
  margin: 0 0 0 4.21875vw;
}

.logo-container p {
  margin: 6px 0 5px 0;
  font-family: "Aqum two Small caps", serif;
  font-size: 23px;
  text-transform: uppercase;
  color: #171934;
  line-height: 29px;
  width: 216px;
  text-align: center;
}

.logo-container div {
  margin: 8px 0 7px 6px;
  width: 70px;
  height: 25px;
  background: url("src/assets/img/IRIT_RTF_logo.svg") no-repeat;
  background-size: 70px 25px;
}

/*навигационный список*/

ul {
  margin: 9px 0 10px 12.44791666666667vw;
  padding: 0;
  left: calc(50vw - 346px);
  width: 692px;
  display: flex;
}

ul li {
  font-family: "Aqum two Classic", serif;
  color: #171934;
  font-size: 17px;
  line-height: 21px;
  cursor: pointer;
  user-select: none;
  margin: 0 59px 0 0;
  white-space: nowrap;
}

ul li:last-child {
  margin-right: 0;
}

ul li:hover {
  color: #55B6FF;
}

ul li:active {
  color: #00A0FF;
}

/*кнопка аккаунта*/

.account-img {
  margin: 6px 4.3229vw 6px auto;
  width: 24px;
  height: 28px;
  background: url("src/assets/img/account_icon.svg") no-repeat;
  background-size: 24px 28px;
  cursor: pointer;
}

.account-img:hover {
  background: url("src/assets/img/account_icon_hover.svg") no-repeat;
  background-size: 24px 28px;
}

.account-img:active {
  background: url("src/assets/img/account_icon_active.svg") no-repeat;
  background-size: 24px 28px;
}
