.container {
  width: 100%;
  background-color: #FFFFFF;
  padding: 6px 0 5px 0;
}

.container * {
  display: inline-block;
  vertical-align: top;
}

/*лого*/

.logo-container p {
  font-family: "Aqum two Small caps", serif;
  margin: 0 0 0 4.21875vw;
  font-size: 23px;
  text-transform: uppercase;
  color: #171934;
  line-height: 29px;
  width: 216px;
  text-align: center;
}

.logo-container div {
  margin: 2px 0 2px 6px;
  width: 70px;
  height: 25px;
  background: url("src/assets/img/IRIT_RTF_logo.svg") no-repeat;
  background-size: 70px 25px;
}

/*навигационный список*/

ul {
  margin: 4px 0 4px 12.44791666666667vw;
  padding: 0;
  width: 695px;
}

ul li {
  font-family: "Aqum two Classic", serif;
  color: #171934;
  font-size: 17px;
  line-height: 21px;
  margin: 0 59px 0 0;
  cursor: pointer;
  user-select: none;
}

ul li:last-child {
  margin-right: 0;
}

ul li:hover {
  color: #55B6FF;
}

ul li:active {
  color: #00A0FF;
}

/*кнопка аккаунта*/

.account-img {
  margin: 0 0 0 26.5625vw;
  width: 24px;
  height: 28px;
  background: url("src/assets/img/account_icon_active.svg") no-repeat;
  background-size: 24px 28px;
  cursor: pointer;
}

.account-img:hover {
  background: url("src/assets/img/account_icon_hover.svg") no-repeat;
  background-size: 24px 28px;
}

.account-img:active {
  background: url("src/assets/img/account_icon_active.svg") no-repeat;
  background-size: 24px 28px;
}
