/*hero*/

.hero {
  background: #171934;
  width: 100%;
  padding: 55px 0 65px 0;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  max-width: 763px;
  padding: 0 20px 0 20px;
  margin: 0 auto 0 auto;
  user-select: none;
}

.hello-icon {
  margin: 12px 0 0 0;
  width: 123px;
  height: 131px;
  background: url("src/assets/img/hello_picture.svg");
  background-size: 123px 131px;
}

.hello-text {
  margin: 0 0 0 60px;
  color: #FFFFFF;
  font-family: "Aqum two Small caps", serif;
  font-weight: normal;
  max-width: 580px;
}

.hello-text h1 {
  line-height: 190.5%;
  font-weight: 400;
  margin: 0;
  font-size: 22px;
}

.hello-text p {
  line-height: 190.5%;
  font-weight: 400;
  margin: 0;
  font-size: 20px;
}

.heart-icon {
  font-size: 35px;
  position: absolute;
}

/*кнопка курса*/

.course-button {
  border: none;
  color: #FFFFFF;
  background: #00A0FF;
  font-family: "Golos UI", serif;
  font-weight: 600;
  font-size: 24px;
  width: 250px;
  height: 47px;
  line-height: 29px;
  padding: 0 0 3px 0;
  border-radius: 18px;
  display: block;
  margin: 21px auto 0 auto;
  cursor: pointer;
}

.course-button:hover {
  background: #55B6FF;
}

.course-button:active {
  background: #B2CFFF;
}

/*текст главной*/

.main-text {
  max-width: 1152px;
  padding: 0 20px 0 20px;
  margin: 85px auto 170px auto;
}

.main-text h2 {
  font-family: "Aqum two Small caps", serif;
  font-weight: normal;
  font-size: 24px;
  color: #171934;
}

.help-text {
  margin: 50px 0 0 20px;
  font-family: "Golos Text", serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 150%;
}

.help-text p {
  margin: 0;
}

.help-text p + p, .help-text ul + p {
  margin: 40px 0 0 0;
}

.help-text ul {
  margin: 10px 0 0 20px;
  padding: 0;
}

.help-text li span {
  font-weight: 700;
}
