<section class="hero">
  <div class="hero-content">
    <div class="hello-icon"></div>
    <div class="hello-text">
      <h1>Привет, дорогой первокурсник!</h1>
      <p>
        Этот сайт создан студентами старших курсов, чтобы помочь тебе быстрее влиться в учебный процесс и начать получать от него удовольствие&nbsp;
        <span class="heart-icon">&#x2661;</span>
      </p>
    </div>
  </div>
  <button class="course-button">Сразу к курсу</button>
</section>
<section class="main-text">
  <h2>С чего начнём?</h2>
  <div class="help-text">
    <p>
      В сборе и подготовке информации мы опирались на опыт студентов, окончивших 2-й и 3-й курс. Это самые разные люди: и обитатели общежитий и коренные екатеринбуржцы, и отличники и троешники.
    </p>
    <p>
      Мы разбили наиболее важную для тебя информацию по разделам, перемещаться по которым ты можешь с помощью навигационной панели сверху:
    </p>
    <ul>
      <li>
        <span>“Словарик”</span> - студенческий жаргон, чтобы ты мог понимать, о чём речь;
      </li>
      <li>
        <span>“Лица/Имена”</span> - самые важные люди института, которых полезно знать;
      </li>
      <li>
        <span>“Карты”</span> - расположение кампусов, кабинетов и лучших мест для перекуса;
      </li>
      <li>
        <span>“Напутствия”</span> - советы для составления расписания, удачного закрытия сессии и многого другого.
      </li>
    </ul>
    <p>
      Но кроме того, ты можешь пройти короткий курс, чтобы как можно веселее и проще познакомиться со всеми особенностями обучения в нашем институте. Вероятно, это станет твоим первым онлайн-курсом среди множества других, ведь мы - IT-специалисты постоянно обучаемся с помощью интернет-ресурсов.
    </p>
    <p>
      Выбирай наиболее удобный для тебя способ обучения и начнём!
    </p>
  </div>
</section>
